extends ../layout 

block content 
    a(href='/usuarios/create' class='btn btn-dark' style='text-align:center') Crear
    br
    br
    br
    table.table
        tr
         th(scope='col') #
         th(scope='col') Nombre
         th(scope='col') Email
         th(scope='col') Verificado
         th(scope='col') 
     
        each usuario in usuarios
            tr
             td(scope='row') 
               = usuario.nombre
             td= uuario.email 
             td= usuario.verificado ? 'Si' : 'No'
             td= bici.ubicacion 
             td 
              form.inline(method='post' action='/usuarios/'+ usuario.id +'/delete')
                input(type="hidden" name="id" value=usuario.id)
                button.link-button(type='submit' name='submit' value='submit' class='btn btn-danger')
                  = 'Eliminar'
             td       
              a(href='/usuarios/'+ bici.id + '/update' class='btn btn-primary') Editar