extends ../layout 

block content 
 a(href='/usuarios') volver 
 br
 br
 br
 h1 Modificar Usuario
 br
 br
 br

 form(action=`/usuarios/${bici.id}/update` method='post')
    label(for='nombre') Nombre
    input#id(type='text' name='nombre' value=usuario.nombre class=errors.nombre ? 'invalido' )
    if errors.nombre
        small#nombreHelp.text-danger 
          = errors.nombre.message
     br
  input(type='submit' value='Crear')
 
