extends ../layout 

block content 
 a(href='/bicicletas') volver 
 br
 br
 br
 h1 Crear Bicicleta 
 br
 br
 br

 form(action='/bicicletas/create' method='post')
  label(for='id') Id
  input#id(type='text' name='id')
  br
  label(for='color') color 
  input#color(type='text' name='color')
  br
  label(for='modelo') Modelo
  input#modelo(type='text' name='modelo')
  br
  label(for='latitud') latitud
  input#latitud(type='text' name='latitud')
  br
  label(for='long') latitud
  input#long(type='text' name='long')
  br
  input(type='submit' value='Crear')
 
