extends ../layout 

block content 
    a(href='/bicicletas/create' class='btn btn-dark' style='text-align:center') Crear
    br
    br
    br
    table.table
        tr
         th(scope='col') #
         th(scope='col') Color
         th(scope='col') Modelo
         th(scope='col') Ubicacion
         th(scope='col') 
     
        each bici in bicis
            tr
             td(scope='row') 
               = bici.id
             td= bici.color 
             td= bici.modelo
             td= bici.ubicacion 
             td 
              form.inline(method='post' action='/bicicletas/'+ bici.id +'/delete')
                input(type="hidden" name="id" value=bici.id)
                button.link-button(type='submit' name='submit' value='submit' class='btn btn-danger')
                  = 'Eliminar'
             td       
              a(href='/bicicletas/'+ bici.id + '/update' class='btn btn-primary') Editar