extends ../layout 

block content 
 a(href='/usuario') volver 
 br
 br
 br
 h1 Modificar Bicicleta 
 br
 br
 br

 form(action=`/bicicletas/${bici.id}/update` method='post')
  label(for='id') Id
  input#id(type='text' name='id' value=bici.id)
  br
  label(for='color') color 
  input#color(type='text' name='color' value=bici.color)
  br
  label(for='modelo') Modelo
  input#modelo(type='text' name='modelo' value=bici.modelo)
  br
  label(for='latitud') latitud
  input#latitud(type='text' name='latitud' value=bici.ubicacion[0])
  br
  label(for='long') logitud
  input#long(type='text' name='long' value=bici.ubicacion[1])
  br
  input(type='submit' value='Crear')
 
